@use '@/shared/styles/variables' as *;

.ingredientsAndEquipmentContainer {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.ingredientsContainer,
.equipmentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  color: $text-primary-color;
}

.ingredientsGrid,
.equipmentGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8px;
  column-gap: 30px;
}

.ingredient,
.equipment {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
}

.dividerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.divider {
  width: 1px;
  height: 100%;
  background-color: $brand-color;
}
.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $brand-color;
}
