@use './variables' as vars;

// Центрация контента (как было)
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: #{vars.$breakpoint-sm}) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (max-width: #{vars.$breakpoint-md}) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (max-width: #{vars.$breakpoint-lg}) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media (max-width: #{vars.$breakpoint-xl}) {
      @content;
    }
  }
}

@mixin mobile-only {
  @media (max-width: #{vars.$breakpoint-md}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: calc(#{vars.$breakpoint-md} + 1px)) and (max-width: #{vars.$breakpoint-lg}) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: calc(#{vars.$breakpoint-lg} + 1px)) {
    @content;
  }
}
