@use '@/shared/styles/variables' as *;

.checkboxLabel {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &.checkboxLabel_disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border: 1px solid $checkbox-border;
  border-radius: $border-radius;
  cursor: inherit;
  background-color: $checkbox-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border-color 0.2s;

  &:checked::after {
    content: '';
    display: block;
    width: 10px;
    height: 18px;
    border: solid $checkbox-check;
    border-width: 0 3.3px 3.3px 0;
    transform: rotate(45deg);
    margin-top: -4px;
  }

  &:hover:not(:disabled) {
    border-color: $checkbox-border-hover;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
